dist
bower_components
node_modules


.idea
/Application/src/main/resources/logging.properties
/Application/src/main/webapp/apidocs
/Application/target
/Database/target/classes
/Database/target
/Application/*.iml
/Database/*.iml
/Web/nbproject/private
/Web/nbproject/project.properties
