*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Application/src/main/resources/logging.properties
/Application/target
/Application/lib
/Application/nb-configuration.xml
/Application/src/main/webapp/apidocs
