<div ng-controller="CreateAccountCtrl">

    <form name="addAccount" ng-submit="save(account)">

        <div class="modal-header">
            <h3 class="modal-title">Create Account</h3>
        </div>

        <input name="name" required class="input-group" type="text" ng-model="account.name" placeholder="Accountname"/>         

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </form>

</div>