<div ng-controller="AccountListCtrl"> 

    <div ng-show="error !== undefined" class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">Error encountered on page!</a>
    </div>

    <div class="panel panel-primary">

        <!--div ng-class="{error: error !== undefined, panel-heading: error === undefined }" id="accountList-panel-heading"-->
        <div class="panel-heading" id="accountList-panel-heading">

            <button ng-show="error === undefined" ng-click="showModal('lg')" id="addButton" type="button" class="btn btn-default btn-default btn-round pull-right">
                <span class="glyphicon glyphicon-plus">/<span>
                        </button>
                        <h4 id="panelHeader">Accounts</h4>

                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Id</th>
                                        <th>Updated</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="account in accounts | orderBy:'name'">
                                        <td>{{account.name}}</td>
                                        <td>{{account.id}}</td>
                                        <td>{{account.updatedDate| date:'yyyy-MM-dd HH:mm' }}</td>
                                        <td>
                                            <button ng-click="showModal()" id="addButton" type="button" class="btn btn-sm btn-default btn-round">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <button ng-click="showModal()" id="addButton" type="button" class="btn btn-sm btn-default btn-round">
                                                <span class="glyphicon glyphicon-erase"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">{{error}}</div>

                        </div>
                        </div>


